<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masterlingua">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="false"
        android:icon="@drawable/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuCreationCarte"/>
        <activity android:name=".JouerCarteReponseImage" />
        <activity android:name=".CreerCarteReponseImage" />
        <activity android:name=".CreerDeck" />
        <activity android:name=".JouerDeck" />
        <activity android:name=".AfficherListe" />
        <activity android:name=".ChoisirCreationCarte"/>
        <activity android:name=".CreerCarte" />
        <activity android:name=".AfficherCarte" />
        <activity android:name=".AfficherDeck" />
        <activity android:name=".AfficherListeDeck" />
        <activity android:name=".JouerCarte" />
        <activity android:name=".CreerCarteQuestionImage" />
        <activity android:name=".JouerQuestionImage" />
        <activity android:name=".AfficherListeQuestionImage" />
        <activity android:name=".AfficherDeckQuestionImage" />
        <activity android:name=".JouerQuestionImage1" />

        <meta-data
            android:name="VERSION"
            android:value="11" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>